@import "tailwindcss";



html,body{
  width: 100%;
  overflow-x: hidden;
}

html{
  scroll-behavior: smooth;
}



@theme{
  --font-heading: "Playfair Display", serif;
  --font-body: "Outfit", sans-serif;

  --color-savora-dark: #1a1410;
  --color-savora-cream: #FAF6F0;
  --color-savora-gold: #B8860B;
  --color-savora-gold-hover:#d4a017;
  --color-savora-border:#3d332a;
}

